<div class="container">
  <h2>{{ 'MAKEPORTALLINK.H3' | translate }}</h2>
  <a routerLink="/" class="btn-back">{{ 'COMMON.BACK' | translate }}</a>

  <div class="card-form">
    <div class="form-group">
      <label for="playerId">{{ 'MAKEPORTALLINK.PLAYER_ID_LABEL' | translate }}</label>
      <input id="playerId" type="text" [(ngModel)]="playerId"
        [placeholder]="'MAKEPORTALLINK.PLACEHOLDER_ID' | translate" />
    </div>

    <div *ngIf="playerId" class="result-box">
      {{ 'MAKEPORTALLINK.LINK_LABEL' | translate }}
      <a [href]="'https://hattrickportal.online/Tracker/Player.aspx?playerID=' + playerId" target="_blank"
        rel="noopener noreferrer">
        {{ 'MAKEPORTALLINK.DESC' | translate }}
      </a>
    </div>
  </div>
</div>