<div class="container">
    <div class="config-box">
    <h3>{{ 'CONTACT.H3' | translate }}</h3>

<form [formGroup]="contactForm" (ngSubmit)="submit()">
  <label>
    {{ 'CONTACT.FIELD_NAME' | translate }}
    <input formControlName="name" />
  </label>
  <div *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched">
    {{ 'CONTACT.FIELD_NAME_DESC' | translate }}
  </div> 

  <label>
    {{ 'CONTACT.FIELD_EMAIL' | translate }}
    <input formControlName="email" type="email" />
  </label>
  <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched">
    {{ 'CONTACT.FIELD_EMAIL_DESC' | translate }}
  </div> 

  <label>
    {{ 'CONTACT.FIELD_MSG' | translate }}
    <textarea formControlName="message"></textarea>
  </label>
  <div *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched">
   {{ 'CONTACT.FIELD_MSG_DESC' | translate }}
  </div>


  <button type="submit" [disabled]="contactForm.invalid">{{ 'CONTACT.SUBMIT' | translate }}</button>
</form>

</div>
</div>