<div class="topnav" id="myTopnav">

  <!-- User Menu -->
  <a href="#home" class="logo"><img src="../assets/img/icons/common/LogoNT_mini.png"></a>
  <a routerLink="/check-list" routerLinkActive="active">{{ 'MENU.MANAGELIST' | translate }}</a>
  <a routerLink="/manage-lists" routerLinkActive="active">{{ 'MENU.MYLIST' | translate }}</a>
  <a routerLink="/manage-roles" routerLinkActive="active">Manage Roles</a>
  <a routerLink="/manage-targets" routerLinkActive="active">{{ 'MENU.MANAGE_TARGETS' | translate }}</a>
  <a routerLink="/make-portal-link" routerLinkActive="active">{{ 'MENU.MAKEPORTALLINK' | translate }}</a>

  <a routerLink="/contact" routerLinkActive="active">Contact</a>
  <a routerLink="/about" routerLinkActive="active">About</a>

  <!-- Language Menu -->
  <button (click)="changeLanguage('it')">IT</button>
  <button (click)="changeLanguage('en')">EN</button>

</div>

<div style="padding-left:16px">
  <router-outlet></router-outlet>
</div>