<div class="topnav" id="myTopnav">
  <a href="#home" class="active"><img src="../assets/img/icons/common/LogoNT_mini.png"></a>
  <a href="player">Gestione liste</a>
     <a href="make-portal-link">Portal Link Generator</a>
  <a href="contact">Contact</a>
  <a href="about">About</a>

  
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<div style="padding-left:16px">
  <router-outlet></router-outlet>
</div>

<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>